<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.genericitydemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".activity.SimpleService" />

        <activity
            android:name=".activity.XmlParseDemoActivity"
            android:label="@string/title_activity_xml_parse_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ServiceDemoActivity" />
        <activity
            android:name=".activity.SQLiteDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HandlerThreadActivity"
            android:label="@string/title_activity_handler_thread"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.RealmActivity" />
        <activity
            android:name=".activity.CircleProgressBarActivity"
            android:label="@string/title_activity_circle_progress_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FlowLayoutActivity"
            android:label="@string/title_activity_circle_progress_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AotoActivity" />
        <activity android:name=".activity.BallViewActivity"></activity>
    </application>

</manifest>